    {% extends 'practice/base.html' %}

    {% load static %}

    {% block content %}

    <div class="container">
        <h1>Display Mouse Position</h1>
        <fieldset>
            <legend>Mouse Position</legend>
            <div>
                <label>X:</label> <span id="mouseX">Untracked</span>
            </div>
            <div>
                <label>Y:</label> <span id="mouseY">Untracked</span>
            </div>
        </fieldset>
        <div>
            <button id="btnToggleOn" class="btn btn-success">Start mouse tracking.</button>
            <button id="btnToggleOff" class="btn btn-danger">Stop mouse tracking.</button>
        </div>
    </div>

    <script src="{% static 'practice/scripts/displayMousePosition.js' %}"></script>

    {% endblock %}