{% extends 'practice/base.html' %}

{% load static %}

{% block content %}

<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Do you have an idea for a new project?</h1>
    <p class="lead">Please fill out the form below to let me know!<br>
    Your input is very much appreciated.</p>
  </div>
    <div class="container">
      <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
      </form>
    </div>
</main>


{% endblock %}

