    {% extends 'practice/base.html' %}

    {% load static %}

    {% block content %}

    <div class="container">
        <h5>Projects</h5>
        <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'practice:redirector' project.pk %}"
                        class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
         <br>
        <hr style="opacity:0">
        <div class="container">
            <div class="row">
                  <div class="col-8"></div>
                    <div class="col-4">
                <h5>Do you have an idea for a new project?</h5>
                <p>Please click here to submit a request:</p>
                <a href="addNewProject" class="btn btn-primary">
                    Project Requests
                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}