<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Evens</title>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
    <div class="container">
      <h1>Sample</<h1>
        <form name="evenNumbers" class="form-horizontal needs-validation" onsubmit="return validate();"
         novalidate>

          <div class="form-group">
              <label class="control-label" for="startingNumber">Starting Number:</label>
                  <input type="number" class="form-control" id="strt" required>
                  <div class="invalid-feedback">
                      A starting number is required and must be a number.
                </div>
          </div><!-- end start # group-->

          <div class="form-group">
              <label class="control-label" for="endingNumber">Ending Number:</label>
                  <input type="number" class="form-control" id="end" required>
                  <div class="invalid-feedback">
                    An ending number is required and must be a number.
                  </div>
          </div> <!-- end # group-->

          <div class="form-group">
              <label class="control-label" for="increment">Step:</label>
                  <input type="number" class="form-control" id="incr" required>
                    <div class="invalid-feedback">
                      A step increment is required and must be a positive number.
                    </div>
          </div><!-- end increment group-->

          <div class="form-group">
              <div>
                <button type="submit" id="submitButton" class="btn btn-primary">
                  Display Evens</button>
              </div>
          </div><!-- end button group-->
          </form>

          <div id = "results" style="display:inline">
            Here are the even numbers between <span id="starting"></span> and <span id="ending"></span>
            by <span id="increment"></span>'s:
            <span id="bloop"></span>
          </div>

    </div> <!-- end container -->

    <script src="scripts/displayEvens.js"></script>
</body>
</html>
