<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Sevens</title>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<style>
div .input-group {
  margin-top: 8px;
}
}
</style>
<body>
    <div class="container">
      <div class = "row col-sm-12">
        <h1>Lucky Sevens</<h1>
      </div>
        <form name="luckySevens" class="needs-validation" onsubmit="return validate();" novalidate>

         <div class="form-group row" id="question">
             <label for="bet" class="form-label col-sm-4"><h1>Starting Bet:</h1></label>
             <div class="input-group mb-5 col">
               <div class="input-group-prepend">
                 <span class="input-group-text">$</span>
               </div>
                   <input type="number" min="0" class="form-control col-sm-2"
                   aria-label="Default" aria-describedby="inputGroup-sizing-default" id="bet" value="0.00"
                   required>
                   <div class="invalid-feedback">
                       Your starting bet must be a number greater than $0.00. Try again!
                 </div>
                 <div class="valid-feedback">
                   Looks great!
                </div>
            </div> <!-- end .input-group  -->
         </div><!-- end start .group-->

         <div class="form-group">
             <div>
               <button type="submit" id="playButton" class="btn btn-primary">Play</button>
             </div>
         </div><!-- end button group-->
         </form>

         <table id="results" class="table table-striped" style="display: none">
              <thead>
                <tr>
                    <th> Your Stats</th>
                    <th>Results</th>
                </tr>
             </thead>
             <tbody>
                 <tr>
                     <td>Starting Bet</td>
                     <td><span id="startingBet">$ </span></td>
                 </tr>
                 <tr>
                     <td>Total Rolls Before Going Broke</td>
                     <td><span id="lastNumberOfRolls"></span></td>
                 </tr>
                 <tr>
                     <td>Highest Amount Won</td>
                     <td><span id="highestWon">$ </span></td>
                 </tr>
                 <tr>
                     <td>Roll Count at Highest Amount Won</td>
                     <td><span id="bestRollCount"></span></td>
                 </tr>
             </tbody>
         </table>
    </div> <!-- end of .container div -->

<script src="scripts/luckySevens.js"></script>
</body>
</html>
