    {% extends 'practice/base.html' %}

    {% load static %}

    {% block content %}

    <div class="container">
        <h5>New Project Ideas</h5>
        <p>Here you'll find a compilation of all submitted project ideas.</p>
        {% for idea in project_idea %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ idea.title }}</h5>
                        <p class="card-text">{{ idea.details }}</p>
                         <h4 class="card-title">{{ idea.due_date }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}